.advantages {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F5EDE7;
    padding: 50px 0;
    transition: transform 0.3s ease; /* Плавная анимация при изменении размера */
}

.transparent-point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 15px;
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease;
}


.transparent-point:hover {
    transform: scale(1.0);
    z-index: 1;
}

.transparent-point:not(:hover) {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.transparent-point-image {
    max-width: 430px;
    border-radius: 15px;
    height: auto;
    margin-top: 20px;
}

.transparent-point-title {
    font-size: 68px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.transparent-point-description {
    font-size: 16px;
    max-width: 500px;
    color: black;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
}

@media (max-width: 1280px) {
    .advantages {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}