.home-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #FFC3A0;
    flex-direction: row;
}

.text-container {
    display: flex;
    width: 65%;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom: 40px;
    align-items: flex-start;
}

h2 {
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 1px;
}

h3 {
    font-size: 28px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    text-align: left;
}

.croissant-picture {
    width: 90%;
    border-radius: 20px;
    display: flex;
    margin-left: 50px;
}

.black-button {
    width: 310px;
    height: 58px;
}

@media (max-width: 1280px) {
    .home-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        margin-top: 20px;
        font-size: 50px;
        text-align: center;
    }

    h3 {
        font-size: 20px;
        text-align: center;
    }

    .croissant-picture {
        width: 90%;
        margin: 20px auto;
    }

    .text-container {
        width: 90%;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .black-button {
        margin-bottom: 20px;
    }
}