.shop-picture {
    display: flex;
    justify-content: space-evenly; /* Равное расстояние между элементами */
    align-items: center;
    width: 100%; /* Растягиваем по всей ширине страницы */
    height: 730px;
    background-color: #F5EDE7;
    margin-top: 1px;
    margin-bottom: 1px;
}

.image-croissantcut img {
    width: 100%; /* Ширина изображения занимает 100% от родительского контейнера */
    border-radius: 20px;
    margin-top: 40px;
}

.content-croissantcut {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Текст и кнопка выравнены по левому краю */
    max-width: 35%; /* Ограничение ширины текстового блока */
    margin-top: 40px;
}

.content-croissantcut p {
    font-size: 40px;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.6;
}
