.shop {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    padding: 40px 100px;
    background-color: #F5EDE7;
    margin-bottom: 1px;
    transition: transform 0.3s ease;
}

.shop-container {
    background-color: #F5EDE7;
    margin: 0;
    padding: 10px 10px;
}

.shop-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: start;
    flex-basis: calc(33.33% - 60px);
    max-width: 400px;
    min-width: 250px;
    flex-grow: 1;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}


.shop-item:hover {
    transform: scale(1.1);
    z-index: 1;
}


.shop-item:not(:hover) {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.shop-item img {
    width: 100%;
    border-radius: 20px;
}

.shop-item .item-title {
    margin: 15px 0;
    font-size: 24px;
}

.shop-item .cost {
    margin-top: -10px;
    font-size: 18px;
    font-weight: lighter;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 50px 0;
    font-size: 36px;
    font-weight: normal;
    color: #000;
}

.add-to-cart-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    width: 100%;
    margin-top: 10px;
}

.add-to-cart-button:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}

.remove-from-cart-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    width: auto;
}

.remove-from-cart-button:hover {
    background-color: darkred;
    transform: scale(1.05);
}
