/* Базовые стили для секции Work */
.work {
    display: flex;
    align-items: center;
    width: 100%;
    height: 750px;
    background-color: #F5EDE7;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
}

.points {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Добавляем возможность переносить элементы */
    width: 100%;
    margin-bottom: 15px;
}

.point {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px; /* Ширина каждого элемента */
    margin: 15px; /* Отступы между элементами */
}

h1 {
    font-size: 60px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.h {
    margin-top: 55px;
    margin-bottom: 55px;
}

p {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 250;
}

.point-title {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
    line-height: 1.2;
}

.point-description {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    max-width: 250px;
    line-height: 1.5;
    color: #333;
}

/* Для экранов до 1280px */
@media (max-width: 1280px) {
    .work {
        height: auto;
    }

    .points {
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        margin-top: -30px;
        margin-bottom: 45px;
    }

    .point {
        margin: 10px 15px;
    }

    .point-title {
        font-size: 20px;
    }

    .point-description {
        font-size: 16px;
        margin-top: 5px;
        max-width: 150px;
        line-height: 1.5;
        color: #333;
    }
}

/* Для экранов до 768px (по 2 элемента в строке) */
@media (max-width: 768px) {
    .points {
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }

    .point {
        width: calc(50% - 30px); /* Каждому элементу 50% ширины с учетом отступов */
        margin-top: 20px;
        margin-bottom: -30px;
    }
}

/* Для экранов до 480px (1 элемент в строке) */
@media (max-width: 480px) {
    .point {
        width: 100%; /* Каждому элементу 100% ширины */
        margin: 10px 0;
    }
}
