/* Общие стили */
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.black-button {
    width: auto;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 200;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.1s ease, color 0.1s ease;
    white-space: nowrap;
    color: #000000;
    border: 1px solid #000000;
}

.black-button:hover {
    background-color: #000;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .black-button {
        font-size: 16px; /* Уменьшаем размер шрифта для экранов до 768px */
        padding: 8px 16px;
    }
}

