html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.black-button {
    width: auto;
    background-color: transparent; /* Прозрачный фон */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 22px; /* Размер текста */
    font-weight: 200;
    cursor: pointer; /* Изменение курсора при наведении */
    border-radius: 20px; /* Скругленные углы */
    transition: background-color 0.1s ease, color 0.1s ease; /* Плавный переход */
    white-space: nowrap;
    color: #000000;
    border: 1px solid #000000;
}

.black-button:hover {
    background-color: #000; /* Черный фон при наведении */
    color: #FFFFFF; /* Цвет текста при наведении */
}